<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnjkGewzU_WEqyQGFhu6Ftai5SiHkTg2c</string>
	<key>GCM_SENDER_ID</key>
	<string>807941396368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.apolovalet.com.ProyectoValetParkingApp</string>
	<key>PROJECT_ID</key>
	<string>proyecto-valet-parking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-valet-parking-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807941396368:ios:dbdab3030df7871f208515</string>
</dict>
</plist>